.login {
   padding: 35px 0;
   font-size: 24px;

   &__nav {
      margin-bottom: 72px;
   }

   &__prompt {
      text-align: center;
   }

   &__prompt-btn {
      @include nobtn-style;
      color: inherit;
      font-size: inherit;
      transition: color 0.3s;
      margin-bottom: 55px;

      &:focus,
      &:hover {
         color: $orange;
         outline: transparent;
      }

      &:active {
         color: $green-haze;
      }
   }

   &__form {}

   &__inputs {
      display: flex;
      flex-direction: column;
      max-width: 350px;
      margin: 0 auto 95px;
   }

   &__label {
      margin-right: 45px;
      margin-bottom: 15px;
   }

   &__input {
      &:not(:last-child) {
         margin-bottom: 60px;
      }
   }

   &__buttons {
      display: flex;
      justify-content: center;
   }

   &__btn {
      background-color: $scorpion-600;
      transition: border-color 0.5s, background-color 0.5s;

      &:not(:last-child) {
         margin-left: 40px;
      }

      &:focus {
         outline: none;
         border-color: $green-haze;
      }

      &:hover {
         background-color: $green-haze;

         &::after {
            transform: translate(-35px, -50%);
         }
      }

      &:active {
         border-color: $orange;
         background-color: $orange;
      }

      &--submit {
         position: relative;

         &::after {
            position: absolute;
            content: "";
            top: 50%;
            transform: translate(-15px, -50%);
            width: 0;
            height: 0;
            border-top: 9px solid transparent;
            border-right: 15px solid $white;
            border-bottom: 9px solid transparent;
            transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
         }
      }
   }
}