.login {
   padding: 35px 0;
   font-size: 24px;

	@include large {
		padding: 15px 0;
	}

   &__nav {
      margin-bottom: 72px;
   }

   &__prompt {
      text-align: center;

      // @include large {
         // padding: 0 30px;
      // }
   }

   &__prompt-btn {
      @include nobtn-style;
      color: inherit;
      font-size: inherit;
      transition: color 0.3s;
      margin-bottom: 55px;

      &:focus,
      &:hover {
         color: $orange;
         outline: transparent;
      }

      &:active {
         color: $green-haze;
      }
   }

   &__inputs {
      display: flex;
      flex-direction: column;
      max-width: 350px;
      margin: 0 auto 95px;
   }

   &__label {
      margin-right: 45px;
      margin-bottom: 15px;

		@include large {
			font-size: 18px;
		}
   }

   &__input {
      &:not(:last-child) {
         margin-bottom: 60px;
      }
   }

   &__buttons {
      display: flex;
      justify-content: center;

      @include large {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         grid-column-gap: 20px;
			max-width: 600px;
			margin: 0 auto;
      }
   }

   &__btn {
      background-color: $scorpion-600;
      transition: border-color 0.5s, background-color 0.5s;

      @include large {
         min-width: 100%;
      }

      &:not(:last-child) {
         margin-left: 40px;
      }

      &:focus {
         outline: none;
         border-color: $green-haze;
      }

      &:hover {
         background-color: $green-haze;
      }

      &:active {
         border-color: $orange;
         background-color: $orange;
      }
   }
}