$scorpion-400: #5F5F5F;
$scorpion-500: #B1B1B1;
$scorpion-600: #C4C4C4;
$scorpion-700: #E5E5E5;
$scorpion-800: #F5F5F5;
$white: #ffffff;
$green-haze: #009C41;
$cello-450: #21325E;
$cello-500: #1D4076;
$orange: #FF7728;
$red: #ff0000;