body {
   font-family: 'Arimo', sans-serif;
   font-weight: 400;
   color: $white;
   line-height: 1.2;
   background-repeat: no-repeat;
   background-position: 0 0;
   background-size: cover;
   background-attachment: fixed;

   &::before {
      content: "";
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: var(--bg-color);
      z-index: -1;
   }

   &::after {
      content: "";
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.2) 12.59%, rgba(0, 0, 0, 0) 101.31%);
      z-index: -2;
   }
}

.logo {
   &__img {
      object-fit: contain;
      width: 56px;
      height: 56px;
   }
}

.container {
   max-width: 1100px;
   padding: 0 15px;
   margin: 0 auto;
}

.nav {
   display: flex;
   align-items: center;
   position: relative;
   margin-bottom: 40px;

   &::after {
      position: absolute;
      content: "";
      bottom: 0;
      width: 100%;
      border-radius: 5px;
      height: 5px;
      background-color: $white;
   }

   &__logo {
      margin: 10px 10px 10px 40px;
      transition: transform 0.3s;

      &:focus,
      &:hover {
         transform: scale(1.1);
      }

      &:active {
         transform: scale(0.8);
      }
   }

   &__list {
      display: flex;
      flex-wrap: wrap;
      font-size: 48px;

      &--switch {
         background-color: $white;
         border-radius: 35px;
         display: grid;
         width: 100%;
         grid-template-columns: repeat(2, 1fr);
         position: relative;
      }
   }

   &__item {
      position: relative;

      &:not(:last-child) {
         margin-left: 30px;

         &::after {
            position: absolute;
            left: -23px;
            content: "-";
         }
      }
   }

   &__link {
      color: inherit;
      @include nobtn-style;
      font-size: inherit;
      transition: color 0.3s;

      &:focus,
      &:hover {
         color: $orange;
         outline: transparent;
      }

      &:active {
         color: $green-haze;
      }

      &--switch {
         padding: 10px 0;
         border-radius: 35px;
         display: block;
         width: 100%;
         text-align: center;
         transition: color 0.3s, background-color 0.3s;

         &:focus {
            color: inherit;
         }

         &:hover {
            color: $green-haze;
         }

         &:active {
            color: $white;
            background-color: $green-haze;
         }
      }

      &--active {
         color: $white;
         background-color: $orange;

         &:focus,
         &:hover {
            color: $white;
         }
      }
   }

   &__box {
      color: $scorpion-400;
      font-size: 30px;
   }
}

.input {
   font-size: inherit;
   padding: 15px;
   border-radius: 30px;
   border: 2px solid transparent;
   color: $green-haze;
   transition: box-shadow 0.3s;

   &:focus,
   &:hover {
      outline: transparent;
      box-shadow: 0 0 10px 5px $green-haze;
   }

   &--empty {
      &:focus {
         color: $red;
         box-shadow: 0 0 10px 5px $red;
      }
   }
}

.btn {
   font-size: 24px;
   color: inherit;
   padding: 0;
   margin: 0;
   border: 5px solid transparent;
   padding: 10px;
   min-width: 350px;
   border-radius: 30px;

   &--triangle {
      position: relative;

      &::after {
         position: absolute;
         content: "";
         top: 50%;
         transform: translate(-15px, -50%);
         width: 0;
         height: 0;
         border-top: 9px solid transparent;
         border-right: 15px solid $white;
         border-bottom: 9px solid transparent;
         transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
      }

      &:hover {
         &::after {
            transform: translate(-35px, -50%);
         }
      }
   }
}

.search-form {

   &__input {
      padding: 18px 30px;
      display: block;
      width: 100%;

      &::placeholder {
         font-size: 18px;
         font-weight: 700;
         color: $scorpion-500;
      }
   }

   &__btn {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      @include nobtn-style;
      padding: 0 20px;
      fill: $cello-500;
      display: flex;
      align-items: center;
      transition: transform 0.5s, fill 0.3s;

      svg {
         max-width: 25px;
         min-height: 25px;
      }

      &:focus {
         transform: scale(1.2);
      }

      &:hover {
         transform: rotate(360deg);
      }

      &:active {
         fill: $green-haze;
      }
   }
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}